#MR-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    ul{
        width: 42rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
        }
        li{
            @include font(1.5rem,$text-color,500);
            a{
                color: $text-color;
            }
        }
    }
    div{
        width: 26rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            padding: 1rem 1.8rem;
            border: 2px solid #979797;
            border-radius: .6rem;
            background-color: transparent;
            @include font(1.4rem,$text-color,500);
            display: flex;
            align-items: center;
        }
        img{
            width: 4rem;
            height: 4rem;
            filter: drop-shadow(-7.38px 17.51px 27px rgba(0, 0, 0, 0.1)) drop-shadow(-2.84px 6.74px 8.6px rgba(0, 0, 0, 0.0607)) drop-shadow(-0.6px 1.43px 2.2px rgba(0, 0, 0, 0.0393));
        }
    }
}