@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
  background: #222429;
  border-radius: 10px;
}

main {
  width: 100%;
  background-color: #F6F6F6;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#MR-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 10rem 1rem 10rem;
}

#MR-nav ul {
  width: 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#MR-nav ul img {
  width: 4rem;
  height: 4rem;
}

#MR-nav ul li {
  font-family: "poppins";
  font-size: 1.5rem;
  color: #979797;
  font-weight: 500;
}

#MR-nav ul li a {
  color: #979797;
}

#MR-nav div {
  width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#MR-nav div button {
  padding: 1rem 1.8rem;
  border: 2px solid #979797;
  border-radius: .6rem;
  background-color: transparent;
  font-family: "poppins";
  font-size: 1.4rem;
  color: #979797;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#MR-nav div img {
  width: 4rem;
  height: 4rem;
  -webkit-filter: drop-shadow(-7.38px 17.51px 27px rgba(0, 0, 0, 0.1)) drop-shadow(-2.84px 6.74px 8.6px rgba(0, 0, 0, 0.0607)) drop-shadow(-0.6px 1.43px 2.2px rgba(0, 0, 0, 0.0393));
          filter: drop-shadow(-7.38px 17.51px 27px rgba(0, 0, 0, 0.1)) drop-shadow(-2.84px 6.74px 8.6px rgba(0, 0, 0, 0.0607)) drop-shadow(-0.6px 1.43px 2.2px rgba(0, 0, 0, 0.0393));
}

#mobile-menu {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  display: none;
  place-items: center;
  z-index: 100;
  padding: 4rem 0rem;
}

#mobile-menu li {
  list-style: none;
  font-family: "poppins";
  font-size: 2.5rem;
  color: #979797;
  font-weight: 500;
}

#mobile-menu li a {
  color: #979797;
}

#mobile-menu button {
  padding: 1rem 1.8rem;
  border: 2px solid #979797;
  border-radius: .6rem;
  background-color: transparent;
  font-family: "poppins";
  font-size: 1.4rem;
  color: #979797;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu img {
  width: 4rem;
  height: 4rem;
  -webkit-filter: drop-shadow(-7.38px 17.51px 27px rgba(0, 0, 0, 0.1)) drop-shadow(-2.84px 6.74px 8.6px rgba(0, 0, 0, 0.0607)) drop-shadow(-0.6px 1.43px 2.2px rgba(0, 0, 0, 0.0393));
          filter: drop-shadow(-7.38px 17.51px 27px rgba(0, 0, 0, 0.1)) drop-shadow(-2.84px 6.74px 8.6px rgba(0, 0, 0, 0.0607)) drop-shadow(-0.6px 1.43px 2.2px rgba(0, 0, 0, 0.0393));
}

#hero {
  width: 100%;
  padding: 0 10rem 3rem 10rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#hero h1 {
  font-family: "poppins";
  font-size: 4.3rem;
  color: #222429;
  font-weight: 500;
  padding-bottom: 1rem;
}

#hero p {
  width: 40rem;
  font-family: "poppins";
  font-size: 1.6rem;
  color: #979797;
  font-weight: 500;
  text-align: center;
  padding-bottom: 2rem;
}

#hero #search-container {
  width: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
}

#hero #search-container input {
  padding: 1.6rem;
  width: 42rem;
  border: none;
  font-family: "poppins";
  font-size: 1.2rem;
  color: #979797;
  font-weight: 600;
  outline: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#hero #search-container #option-container {
  height: 5.04rem;
  background-color: white;
  padding: .6rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#hero #search-container #option-container #options {
  min-height: 100%;
  border: 2px solid #979797;
  border-radius: .5rem;
  background-color: transparent;
  padding: .5rem 1rem;
  font-family: "poppins";
  font-size: 1.4rem;
  color: #222429;
  font-weight: 500;
  outline: none;
}

#hero #search-container img {
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(-3.5rem);
          transform: translate(-3.5rem);
}

#hero #product-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

#hero #product-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero #product-nav ul li {
  font-family: "poppins";
  font-size: 1.5rem;
  color: #222429;
  font-weight: 500;
}

#hero #product-nav ul #premium {
  color: #FF4E00;
  position: relative;
}

#hero #product-nav ul #premium::after {
  content: "";
  position: absolute;
  width: .15rem;
  height: 1.5rem;
  background-color: #222429;
  top: 50%;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  left: -3rem;
  z-index: 2;
}

#hero #product-nav ul #free {
  color: #3481EF;
}

#hero #product-nav ul #latest {
  position: relative;
}

#hero #product-nav ul #latest::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -2px;
  right: -8px;
  border-radius: 50%;
  background-color: #FF4E00;
  z-index: 2;
}

#hero #product-card-container {
  width: 100%;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero #product-card-container #product-sub-container {
  width: 100rem;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero #product-card-container #product-sub-container aside {
  width: 31rem;
  min-height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

#hero #product-card-container #product-sub-container aside #card-image1 {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
  position: relative;
}

#hero #product-card-container #product-sub-container aside #card-image1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: url("../images/illustrations/dog.svg") center center no-repeat;
  background-size: contain;
  z-index: 2;
}

#hero #product-card-container #product-sub-container aside #card-image2 {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
  position: relative;
}

#hero #product-card-container #product-sub-container aside #card-image2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: url("../images/illustrations/astronaut.svg") center center no-repeat;
  background-size: contain;
  z-index: 2;
}

#hero #product-card-container #product-sub-container aside #card-image3 {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
  position: relative;
}

#hero #product-card-container #product-sub-container aside #card-image3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: url("../images/illustrations/rockstar.png") center center no-repeat;
  background-size: contain;
  z-index: 2;
}

#hero #product-card-container #product-sub-container aside h2 {
  font-family: "poppins";
  font-size: 2rem;
  color: #979797;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

#hero #product-card-container #product-sub-container aside h2 span {
  font-family: "poppins";
  font-size: 4rem;
  color: #222429;
  font-weight: 400;
}

#hero #product-card-container #product-sub-container aside pre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "poppins";
  font-size: 2rem;
  color: #222429;
  font-weight: 600;
}

#hero #product-card-container #product-sub-container aside pre a {
  color: #222429;
  text-decoration: underline;
  padding-right: 1rem;
}

#hero #after-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #after-select div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #after-select div a {
  font-family: "poppins";
  font-size: 1.4rem;
  color: #222429;
  font-weight: 400;
  text-decoration: underline;
  padding-right: 2rem;
}

#hero #after-select div img {
  width: 10rem;
}

#hero #after-select #next_btn {
  padding: 1rem 3rem;
  border: none;
  background-color: #ffffff;
  border-radius: .5rem;
  font-family: "poppins";
  font-size: 1.6rem;
  color: #222429;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#hero #after-select aside {
  width: 21rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#hero #after-select aside p {
  font-family: "poppins";
  font-size: 1.2rem;
  color: #222429;
  font-weight: 600;
}

#hero #after-select aside button {
  padding: .6rem 1rem;
  margin-right: .5rem;
  border: none;
  background-color: #EFEFEF;
  font-family: "poppins";
  font-size: 1.2rem;
  color: #222429;
  font-weight: 600;
}

#hero #after-select aside button i {
  font-size: 1.4rem;
  color: #979797;
}

@media (max-width: 1200px) and (min-width: 1040px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1040px) and (min-width: 800px) {
  html {
    font-size: 42%;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  html {
    font-size: 42%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 794px) {
  #hero #product-card-container {
    overflow-y: scroll;
  }
  #hero #product-card-container #product-sub-container aside {
    margin-right: 2rem;
  }
}

@media (max-width: 574px) {
  #hero {
    padding: 0 4rem 3rem 4rem;
  }
  #MR-nav {
    padding: 3rem 4rem 1rem 4rem;
  }
}

@media (max-width: 500px) {
  #hero {
    padding: 0 2rem 3rem 2rem;
  }
  #MR-nav {
    padding: 3rem 2rem 4rem 2rem;
  }
  #MR-nav ul li {
    display: none;
  }
  #MR-nav #responsive {
    display: none !important;
  }
  #after-select {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #after-select div {
    display: none !important;
  }
  #after-select aside {
    display: none !important;
  }
  #hero h1 {
    text-align: center;
  }
  #hero #product-card-container {
    overflow-y: scroll;
    position: relative;
    height: 38.8rem;
  }
  #hero #product-card-container #product-sub-container {
    position: absolute;
    left: 0;
  }
  #hero #product-card-container #product-sub-container aside {
    margin-right: 2rem;
  }
  #search-container {
    width: 100% !important;
  }
  #search-container input {
    width: 100% !important;
  }
  #product-nav #product-nav-ul {
    width: 30rem !important;
  }
  #product-nav #product-nav-ul #premium::after {
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
    left: -2rem !important;
  }
  #hamburger {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */